requests==2.23.0
PyJWT==1.7.1
ecdsa==0.15
base58==2.0.0
Flask==1.1.2
Flask-Cors==3.0.8
mysql-connector==2.2.9
click==7.1.2
sqlalchemy==1.3.17
pymysql==0.9.3
validators==0.15.0
web3==5.11.1
geopy==1.22.0
sentry-sdk[flask]==0.16.2
prospector[with_mypy,with_pyroma,with_vulture]==1.2.0
bandit
coverage
pytest
